<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <br><br>
    <a href="http://localhost:5002/lista">Cadastros</a>
    <br><br>
    <form action="/login" method = "POST" name = "form_cadastro">
        <label for="nome">Digite seu nome: </label>
        <input type="text" name="nome" id="nome"><br><br>
        <label for="email">Digite seu email: </label>
        <input type="text" name="email" id="email"><br><br>
        <label for="senha">Digite sua senha: </label>
        <input type="password" name="senha" id="senha"><br><br>
        <input type="submit" name="Resultado">
    </form>
</body>
</html>